/* Customização para Snackbar de Sucesso */
.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32; /* Cor de fundo (Verde) */
  --mdc-snackbar-supporting-text-color: #ffffff; /* Cor do texto */
}

/* Customização para Snackbar de Erro */
.snackbar-error {
  --mdc-snackbar-container-color: #d32f2f; /* Cor de fundo (Vermelho) */
  --mdc-snackbar-supporting-text-color: #ffffff; /* Cor do texto */
}
